/*BEGIN XBOX SX Controller Styling*/

.controller.custom{
    background: url(https://i.imgur.com/MARpMuD.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(disconnected.png);
}

.custom.disconnected div {
    display: none;
}

 .custom .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 

.custom .trigger{
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .trigger.left{ 
    height: 992px;
    width: 1198px;
    background: url(https://i.imgur.com/p5L5aBY.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .trigger.right{
    height: 992px;
    width: 1198px;
    background: url(https://i.imgur.com/fpciaRR.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper{
    opacity: 0;
}

.custom .bumper.pressed{ 
    opacity: 1;
}

.custom .bumper.right{
    height: 992px;
    width: 1198px;
    background: url(https://i.imgur.com/N4lu2p1.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper.left{
    height: 992px;
    width: 1198px;
    background: url(https://i.imgur.com/cpsb5y3.png);
    position: absolute;
    background-repeat:no-repeat;

}
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .back{
    opacity: 0;
    position: absolute;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .back.pressed{
    height: 992px;
    width: 1198px;
    left: -290px;
    top: -248px;
    background: url(https://i.imgur.com/7ikYCqJ.png);
    position: absolute;
    opacity: 1;
} 

.custom .start.pressed{
    height: 992px;
    width: 1198px;
    left: -290px;
    top: -248px;
    background: url(https://i.imgur.com/3wUTCz5.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(https://i.imgur.com/mp1VVnR.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(https://i.imgur.com/AyMQWuk.png);
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .x.pressed{
    background: url(https://i.imgur.com/SAOQGcg.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .y.pressed{
    background: url(https://i.imgur.com/0ZvUiiQ.png) ; 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .sticks{    
    left: 232px;
    top:283px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick.{
    position: absolute;
}

.custom .stick.pressed.left{
    position: absolute;
    background: url(https://i.imgur.com/sScUBOH.png);
    height: 139px;
    width: 139px;
    background-repeat:no-repeat;
}

.custom .stick.pressed.right{
    position: absolute;
    background: url(https://i.imgur.com/sScUBOH.png);
    height: 139px;
    width: 139px;
    background-repeat:no-repeat;
}

.custom .stick.left{
    position: absolute;
    background: url(https://i.imgur.com/sScUBOH.png);
    height: 139px;
    width: 139px;
    background-repeat:no-repeat;
}

.custom .stick.right{
    position: absolute;
    background: url(https://i.imgur.com/sScUBOH.png);
    left: 450px;
    top: 171px;
    height: 139px;
    width: 139px;
    background-repeat:no-repeat;
}

.custom .dpad{
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .face{
    background: url(https://i.imgur.com/duBpxCe.png);
    position: absolute;
}

.custom .face.right.pressed{
    background: url(https://i.imgur.com/vp1Mnpo.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .face.left.pressed{
    background: url(https://i.imgur.com/Zw2UYWc.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .face.up.pressed{
    background: url(https://i.imgur.com/IRTX1XO.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

.custom .face.down.pressed{ 
    background: url(https://i.imgur.com/w3OaWjs.png); 
    height: 992px;
    width: 1198px;
    background-repeat:no-repeat;
}

/*END XBOX SX Controller Styling*/
